@page
@model Milochau.Core.AspNetCore.ReferenceProject.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Test page</h1>

<h2>Test configuration features</h2>

<h3>Configuration from Azure Key Vault</h3>
<p>Note: configure Key Vault vault first, target an Azure KeyVault resource with the following keys</p>

<table>
    <caption>Configuration values</caption>
    <thead>
        <tr>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>A</td>
            <td>@Model.Configuration["A"]</td>
        </tr>
        <tr>
            <td>B</td>
            <td>@Model.Configuration["B"]</td>
        </tr>
        <tr>
            <td>C</td>
            <td>@Model.Configuration["C"]</td>
        </tr>
        <tr>
            <td>D</td>
            <td>@Model.Configuration["D"]</td>
        </tr>
    </tbody>
</table>

<h3>CoreHostOptions from IOptions</h3>
<p>Note: configure CoreHostOptions in appsettings.json first</p>

<table>
    <caption>CoreHostOptions values</caption>
    <thead>
        <tr>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Core:Application:OrganizationName</th>
            <td>@Model.CoreHostOptions.Application.OrganizationName</td>
        </tr>
        <tr>
            <th scope="row">Core:Application:ApplicationName</th>
            <td>@Model.CoreHostOptions.Application.ApplicationName</td>
        </tr>
        <tr>
            <th scope="row">Core:Application:EnvironmentName</th>
            <td>@Model.CoreHostOptions.Application.EnvironmentName</td>
        </tr>
        <tr>
            <th scope="row">Core:Application:HostName</th>
            <td>@Model.CoreHostOptions.Application.HostName</td>
        </tr>
        <tr>
            <th scope="row">Core:Application:RegionName</th>
            <td>@Model.CoreHostOptions.Application.RegionName</td>
        </tr>
        <tr>
            <th scope="row">Core:KeyVault:Vault</th>
            <td>@Model.CoreHostOptions.KeyVault.Vault</td>
        </tr>
    </tbody>
</table>

<h3>CoreServicesOptions from IOptions</h3>
<p>Note: configure CoreServicesOptions in appsettings.json first</p>

<table>
    <caption>CoreServicesOptions values</caption>
    <thead>
        <tr>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Core:Services:Telemetry:DisableAdaptiveSampling</th>
            <td>@Model.CoreServicesOptions.Telemetry.DisableAdaptiveSampling</td>
        </tr>
    </tbody>
</table>

<style>
    table td, table th {
        border: 1px solid;
    }
</style>